.city {
  width: 16rem;
  height: 50rem;
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/33/f7/12/caption.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgb(0, 0, 0);
  z-index: 1;
}

.city .title {
  font-family: "Allura", cursive;
  font-weight: bold;
  font-size: 5rem;
  color: rgb(191, 252, 255);
  text-shadow: 0 0 0.5rem rgb(0, 0, 0);
}
